<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/start" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="form" novalidate (ngSubmit)="next()">
    <ion-grid fixed>
      <ion-row class="ion-padding">
        <ion-col>
          <ion-label position="stacked">
            <span style="color: #fff; font-size: large;">
              <b>
                ¿Cuál es tu correo?
              </b>
            </span>
          </ion-label>
          <ion-input formControlName="correo" type="text"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding">
        <ion-col>
          <ion-label position="stacked">
            <span style="color: #fff; font-size: large;">
              <b>
                ¿Cuál es tu constraseña?
              </b>
            </span>
          </ion-label>
          <ion-input formControlName="contra" type="password"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding ion-justify-content-center">
        <div style="margin: auto;">
          <ion-col>
            <br><br>
            <ion-button shape="round" type="submit">
              <b>
                <i>Next</i>
              </b>
            </ion-button>
          </ion-col>
        </div>
      </ion-row>      
    </ion-grid>
  </form>
</ion-content>
