ion-button {
  --color: #000;
  --background: #40cf5a;
  --background-activated: #35b14c;
}

ion-input {
  --border-radius: 10px;
  --color: #fff;
  --background: #818181;
}

ion-toolbar {
  --background: transparent;
}