<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="buscar">
      <ion-icon aria-hidden="true" name="search-outline"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user-library">
      <ion-icon aria-hidden="true" name="library-outline"></ion-icon>
      <ion-label>Mi Librería</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>